<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){magenta} %clr([%thread]){blue} %clr(%-5level){} %clr([%logger{0}:%line]){yellow} %clr([%file:%line]){cyan} : %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org" level="WARN" />
    <logger name="org.springframework" level="WARN" />
    <logger name="com.zaxxer.hikari" level="WARN" />
    <logger name="com.csf" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>